body {
    background-color: hsl(218, 23%, 16%);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.advice-box {
    margin-inline: auto;
    width: 350px;
    margin-top: 25vh;
    padding-top: 40px;
    padding-bottom: 65px;
    text-align: center;
    background-color: hsl(217, 19%, 24%);
    border: 1px solid hsl(218, 23%, 16%);
    border-radius: 10px;
    font-family: 'Manrope', sans-serif;
    position: relative;
}

#advice-id {
    color: hsl(150, 100%, 66%);
    font-size: 10px;
    letter-spacing: 3px;
}

#advice-full-text {
    color: hsl(193, 38%, 86%);
    font-size: 28px;
    padding: 20px;
}

.dice-icon {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -32.5px;
    margin-inline: auto;
    background-color: hsl(150, 100%, 66%);
    padding: 20px;
    display: flex;
    width: 65px;
    height: 65px;
    border-radius: 50%;
}

footer {
    position: fixed;
    bottom: 0;
}

.attribution {
    font-size: 11px;
    text-align: center;
    font-style: italic;
    color: hsl(150, 100%, 66%);
}

.attribution a {
    color: hsl(193, 38%, 86%);
}
